head{
color:#143774;
color:#1792d2;
color:#f8f8f8;
color:#707070;
color:#8490ff;
}

/* Layout */
body{
    font-family: Ubuntu, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
    height: 100%;
}

.container{
    max-width: 1300px;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}

.container-nav{
    display: flex;
    align-items: center;
}

header{
    background-color: #f8f8f8;
    max-width: 100%;
    padding: 0;
}


.nav-wide{
    display: flex;
    list-style: none;
    padding: 0;
    margin: .3em;
}

.nav-wide li{
    padding: 0.75em;
    margin: .5em;
}

.site-title{
    display: flex;
    align-items: center;
}


/* mobile nav */
.mobile-nav-ul{
    list-style-type: none;
    padding: 0;
}

.mobile-nav-a{
    color: white;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    display: block;
    font-weight: 400;
    padding: 1.2em 0 1.2em 2em;
    text-decoration: none;
    font-size: .8rem;
    overflow: hidden;
}
.menu-div{
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    position: fixed;
    height: 100%;
    opacity: .8;
    overflow-x: hidden;
    width: 0;
    padding-top: 1px;
    transition: width .7s;
}

.menu-div.animate{
    width: 260px;
}

/* buttons */

.menu-btn{
    display: none;
    background:none;
    border: 0;
    cursor: pointer;
}

button a{
    text-decoration: none;
}

/* footer */
.container-f{
    background-color: #143774;
    margin: 0;
}

/* Typography */

h1{
    font-weight: 300;
    font-family: Lora, serif;
    font-size: 1.5rem;
    color:#143774;
    letter-spacing: .15em;
    padding: .2em;
    
}


.nav-btns{
    font-size: 1rem;
    color: #707070;
    font-weight: 700;
}

.nav-btns:hover,
.nav-btns:focus{
    color: #1792d2;
    transition: .5s;
}

.nav-btns{
    text-decoration: none;
}

.nav-btns:hover{
    border-bottom: #1792d2 1px solid;
    transition: .2s;
}

.kd{
    color:rgba(255, 217, 0, 0.842);
}

.fa-bars,
.fa-x{
    font-size: 1.3rem;
}

.fas.xbutton:before{
    content: '\f00d';
    font-size: 1.6rem;
}

/* Media Queries */



@media (max-width:865px) {
    .nav-wide {
        display: none;
    }

    .btn-bars{
        display: inline;
        top: 25px;
        position: fixed;
        right: 25px;
    }



}
